*{
    box-sizing: border-box;
}

.contact{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin-bottom: 4em;
}

.contact h2{
    color:var(--color-text);
    font-size: 30px;
}

.contact p{
    color:var(--color-primary);
    margin-bottom: 20px;
}

.contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--color-text),var(--color-primary-variant));
    clip-path: circle(15% at 85% 70%);
}

.contact::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--color-bg),var(--color-primary));
    clip-path: circle(15% at 25% 30%);
}

.contact_content{
    display: flex;
    align-items:center;
    justify-content: center;
    z-index: 10;
    gap: 10vw;
}

.contact_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_img{
    width: 300px;
    animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
}

@keyframes fadeInFromTop{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floating {
    0%{
        transform: translate(0%, 0%) rotate(360deg);
    }
    25%{
        transform: translate(3%, 5%) rotate(360deg);
    }
    50%{
        transform: translate(5%, 3%) rotate(360deg);
    }
    75%{
        transform: translate(0%, 5%) rotate(360deg);
    }
    100%{
        transform: translate(0%, 0%) rotate(360deg);
    }
}

.contact_text p{
    max-width: 400px;
    color: var(--color-text);
    text-align: justify;
}

.contact_modes{
    display: flex;
    gap: 15px;
}

.contact_modes div a{
    position: relative;
    top: -5%;
}

.contact_icon{
    position: relative;
    top: 4px;
    color: var(--color-primary);
}

.form{
    position: relative;
    z-index: 2;
    width: 40vw;
    /* max-width: 100px; */
    padding: 50px;
    /* left: 200px; */
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border:1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
}

.form::before{
    content: '';
    position: absolute;
    top:0;
    left:-40%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}

.form .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.form .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 20px 0 10px;
}

.form .row100 .col .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color:var(--color-text);
}

.form .row100 .col .inputBox textarea,
.form .row100 .col .inputBox input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color:#000;
}

.form .row100 .col .inputBox .text{
    position: absolute;
    top:0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.form .row100 .col .inputBox input:valid + .text,
.form .row100 .col .inputBox input:focus + .text,
.form .row100 .col .inputBox textarea:valid + .text,
.form .row100 .col .inputBox textarea:focus + .text{
    top:-35px;
    left:-10px;
}

.form .row100 .col .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--color-white);
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.form .row100 .col .inputBox input:valid ~ .line,
.form .row100 .col .inputBox input:focus ~ .line{
    height: 100%;
}

.form .row100 .col .inputBox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.form .row100 .col .inputBox textarea:valid ~ .line,
.form .row100 .col .inputBox textarea:focus ~ .line{
    height: 100%;
}

.form .row100 .col input[type="submit"]{
    font-weight: 600; 
    font-size: 15px;
}

@media screen and (max-width:1200px){
    .contact::before{
        clip-path: circle(15% at 75% 80%);
    }
    
    .contact::after{
        clip-path: circle(15% at 25% 40%);
    }

    .contact_content{
        flex-direction: column;
        gap: 50px;
    }

    .contact_img{
        margin-bottom: 20px;
    }
    
    .contact_text p{
        max-width: 60vw;
    }
}

@media screen and (max-width:800px){
    .form{
        width: 60vw;
    }
}

@media screen and (max-width:650px) {
    /* .contact{
        margin-bottom: 60px;
    } */

    .contact::before{
        clip-path: circle(12% at 75% 80%);
    }
    
    .contact::after{
        clip-path: circle(12% at 25% 40%);
    }

    .form{
        padding: 2px;
        /* margin-bottom: 40px; */
    }
}

@media screen and (max-width:550px){
    .contact_img{
        width: 250px;
    }
    .contact_modes{
        flex-direction: column;
    }
}

@media screen and (max-width:500px) {
    /* .contact{
        margin-bottom: 20px;
    } */

    .form{
        width: 80vw;
        /* margin-bottom: 20vh; */
    }
}