.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6rem;
    padding: 0rem 6rem 0rem 7rem;
    gap: 2rem;
}

.education_content{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap:20vw;
}

.education h1{
    font-size: 2rem;
    color: var(--color-primary);
}

.qualification_left h2{
    margin-bottom: 20px;
}

.education_icon{
    color: var(--color-primary);
    position: relative;
    top:5px;
}

.education .education_contents{
    padding: 0px 30px;
    border-left: 2px solid var(--color-primary-variant);
}

.education .education_contents .content_box{
    position: relative;
    padding: 20px;
    border: 1px solid var(--color-primary-variant);
    max-width: 30vw;
    border-radius: 1rem;
    margin-bottom: 20px;
    transition: var(--transition);
    cursor: pointer;
    box-shadow: 8px 8px 12px 0px var(--color-primary-variant);
    background: transparent;
}

.education .education_contents .content_box:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 24px);
    top: 0;
    background-color: var(--color-primary);
}

.content_box h3{
    font-weight: 200;
    color: var(--color-primary);
}

.content_box span{
    color: var(--color-primary);
    font-weight: 500;
    font-size: 1.1rem;
}

.qualification_right .experience_info div:first-child h3{
    position: relative;
    left: 30px;
    font-size:large;
    color: var(--color-primary);
}

.qualification_right .experience_info div{
    margin-bottom: 20px;
}

.qualification_right .experience_info h3{
    font-size:x-large;
    font-weight: 500;
}

.qualification_right .experience_info p{
    color: var(--color-primary);
}

@media screen and (max-width:860px){
    .education .education_contents .content_box{
        max-width: 50vw;
    }

    .education_content{
        flex-direction: column;
        gap:10vw;
    }
}

@media screen and (max-width:700px){
    .education h1{
        font-size: 1.5rem;
    }
    .content_box h3{
        font-size: 1rem;
    }

    .content_box h2{
        font-size: 1.3rem;
    }
}

@media screen and (max-width:600px){
    .content_box h3{
        font-size: 0.9rem;
    }
    .content_box h2{
        font-size: 1rem;
    }
    .content_box p{
        font-size: 0.8rem;
    }
    .content_box span{
        font-size: 1rem;
    }

}

@media screen and (max-width:400px){
    .education .education_contents .content_box{
        max-width: 70vw;
    }
}