.codingprofiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.codingprofiles h1{
    color: var(--color-primary);
    font-size: 2vw;
    /* line-height: 0 ; */
}

.codingprofiles img{
    width: 50px;
}

@media screen and (max-width:1024px){
    .codingprofiles h1{
        font-size: 3vw;
        /* padding-bottom: 6%; */
    }
}

@media screen and (max-width:600px){
    .codingprofiles h1{
        font-size: 1.5em;
    }
}