.modes{
    position: fixed;
    z-index: 100;
    padding: 5px 10px 3px 1px;
    border-radius: 10px 0 0 10px;
    top: 10px;
    right: 0;
    background: transparent;
    background-color: var(--color-primary-variant);
    box-shadow: 4px 0 4px var(--color-bg-variant);
    /* transform: translateX(100%);
    transition: all 0.3s ease; */
}

.modes *{
    position: relative;
    left: 5px;
}